<div class="card">
    <div class="card-header">
        <h1 class="card-title fs-5">Actualizar Egresado</h1>
    </div>
    <div class="card-body">
           <label  class="form-label">Buscar egresado a actualizar</label>
           <input type="text" class="form-control" id="palabraClaveBuscar" onkeydown="filtrarUsuariosActualizarAction(event)">
            <div class="justify-content-center" id="tablaFiltrarEgresadosActualizar">
            <table class="table table-responsive table-striped table-hover" style= "--bs-table-striped-bg: #bdecb6;">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                </tr>
                </thead>
                <tbody  id="egresadosactualizarfiltrados">
                <!-- Aquí van las filas de la tabla, las cuales se llenan con javaScript -->
                </tbody>
            </table>

            </div>


        <form id="actualizarEgresadoform" action="/actualizarEgresado" method="POST" enctype="multipart/form-data" style="display:none;">
            
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico del graduado a modificar</label>
                <input type="email" class="form-control" id="emailActualizar" name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="nombres" class="form-label">Nombres</label>
                <input id="nombresActualizar" name="nombres" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input id="apellidosActualizar" name="apellidos" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección de Recidencia</label>
                <input id="direccionActualizar" name="direccion" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="cell" class="form-label">Telefono del Graduado</label>
                <input id="cellActualizar" name="cell" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="empresa" class="form-label">Empresa actual donde Labora</label>
                <input id="empresaActualizar" name="empresa" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="cargo" class="form-label">Cargo que ocupa en la Empresa</label>
                <input id="cargoActualizar" name="cargo" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="pais">País de Recidencia</label>
                <select class="form-control" id="paisActualizar" name="pais"></select>
            </div>
            <div class="mb-3">
                <label for="departamento">Departamento de Recidencia</label>
                <select class="form-control" id="departamentoActualizar" name="departamento"></select>
            </div>
            <div class="mb-3">
                <label for="ciudad">Ciudad de Recidencia</label>
                <select class="form-control" id="ciudadActualizar" name="ciudad"></select>
            </div>
            
            <div class="mb-3">
                <label for="year">Año de Graduacion</label>
                <select class="form-control" id="yearActualizar" name="year">
                    <!-- Script JavaScript llenará las opciones automáticamente -->
                </select>
            </div>
            <div class="mb-3">
                <label for="carrera_cursada">Carrera Cursada</label>
                <select class="form-control" id="carrera_cursadaActualizar" name="carrera_cursada">
                    <!-- Script JavaScript llenará las opciones automáticamente -->
                </select>
            </div>
            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen de perfil</label>
                <input id="imagen" name="imagen" type="file" class="form-control">
            </div>
            <div class="mb-3">
                <label for="coord_x" class="form-label">Coordenada X</label>
                <input id="coord_xActualizar" name="coord_x" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="coord_y" class="form-label">Coordenada Y</label>
                <input id="coord_yActualizar" name="coord_y" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="portafolio_url" class="form-label">URL de Portafolio | Página Web</label>
                <input id="portafolio_urlActualizar" name="portafolio_url" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="aptitudesActualizar" class="form-label">Aptitudes (separadas por comas ej: docker, java)</label>
                <input id="aptitudesActualizar" name="aptitudes" type="text" class="form-control">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="datos_publicos" name="datos_publicos">
                <label class="form-check-label" for="datos_publicos">
                    ¿Desea que sus datos sean públicos?
                </label>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary mr-2" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Agregar</button>
            </div>
        </form>
    </div>
</div>