<div class="card">
    <div class="card-header">
        <h1 class="card-title fs-5">Borrar</h1>
    </div>
    <div class="card-body">
        <form id="formNuevoEgresadoborrar" action="/borrarEgresado" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary mr-2">Cancelar</button>
                <button type="submit" class="btn btn-success">Borrar Graduado</button>
            </div>
        </form>
    </div>
</div>