<div class="card">
    <div class="card-header">
        <h1 class="card-title fs-5">Importación</h1>
    </div>
    <div class="card-body">
        <div class="col">
            <div class="row">
                <button type="submit"  id = "descargarPlantilla-btn" class="btn btn-success">Descargar plantilla excel</button>
            </div>
            <div class="row mt-3">
                <div class = "py-2">A continuación seleccione el archivo .ods para importar los egresados (debe partir de la plantilla excel)</div>
                    
                <div class=" py-3 rounded-pill border border-success justify-content-center">
                    <form id="subirPlantilla-btn" enctype="multipart/form-data">
                        <input type="file" name="file" accept=".ods"  class="text-success" id="fileInput" style="display: none;" onchange="updateLabel()"/>
                        <div class = " row justify-content-around align-items-center">
                            <div class = "col-5 border rounded-pill text-center">
                                <label id="fileLabel" for="fileInput" class="text-success rounded-pill bg-secondary-subtle">Elegir archivo</label>
                            </div>
                            <div class = "col-4 border rounded-pill text-center">
                                <!-- <button type="submit" class="text-success rounded-pill bg-light">Subir archivo</button> -->
                                <label class="text-success rounded-pill " onclick="uploadTemplate()">Subir archivo</label>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        <div>
    </div>
</div>

<script>
    function updateLabel() {
      var input = document.getElementById('fileInput');
      var label = document.getElementById('fileLabel');
      if (input.files.length >  0) {
        label.innerHTML = 'Archivo elegido :'+input.files[0].name;
      } else {
        label.innerHTML = 'Elegir archivo';
      }
    }
    function uploadTemplate() {
        const form = document.getElementById('subirPlantilla-btn');
        const formData = new FormData(form);
        const file = formData.get('file');
        if (file) {
          fetch('/importarEgresadosExcel', {
            method: 'POST',
            body: formData
          })
          .then(response => response.json())
          .then(data => alert(data.message))
          .catch(error => console.error('Error:', error));
        }
        }

    </script>